main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
    text-align: left;
}

input #nome{
    border: 1px solid #686868;
}
form {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
fieldset {
    border: none;
}

input{
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    width: 493px;
    height: 32px;
}

textarea{
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    width: 493px;
}
button{
    background: #FF4081;
     color: white;
     padding: 10px 41px;
     border: none;
     border-radius: 50px;
     font-size: 16px;
     font-weight: 800;
     display: flex;
     justify-content: left;
}