
.mais-conteudo{
    padding: auto;
    margin: auto;
    padding-top: 48px;
    padding-bottom: 89px;
    background: white;
    max-width: 991px;
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.mais-conteudo div > h1 {
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;
    text-align: left;
    max-width: 512px;
}

.mais-conteudo div > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: left;
    max-width: 461px;
}

article > .conteudo{
    max-width: 518px;
    padding-bottom: 100px;
}

article .quadrado {
    width: 518px;
    height: 259px;
    background: #C4C4C4;
}

article .conteudo > a{
    display: flex;
    align-items: center;
    color: #FF4081;
}
article .conteudo > p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: left;
}

.conteudos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 109px;
    background: #E5E5E5;
    padding-bottom: 170px;
}

@media ( max-width: 900px ){
    .mais-conteudo {
        padding: auto;
        margin: auto;
        padding-top: 48px;
        padding-bottom: 89px;
        background: white;
        max-width: 991px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}